Python also provides inbuilt data types.
They are as shown below:

1) Lists
2) Sets
3) Tuple
4) Dictionaries

In [3]:
#Creation of Lists
#syntax:
# variable_name = [val1, val2, val3, val4,.....]

List = ["Akshay","1 year","Male","25"]

In [4]:
List

['Akshay', '1 year', 'Male', '25']

In [5]:
#Updating the already existing lists

List = ["Akshay","1 year","Male","25","Gamer"]
List

['Akshay', '1 year', 'Male', '25', 'Gamer']

**Accessing the List**

In [6]:
#Printing the very first element in the list which is the Name

List[0]

'Akshay'

In [7]:
#Printing the very last element in the list which is the DOB

List[-1]

'Gamer'

In [8]:
#Printing the range of values from the lists
#syntax: list[inclusive: exclusive]

List[0:2]

['Akshay', '1 year']

In [9]:
#Printing the range of values from the lists by only mentioning the starting or ending points

List[:2]

['Akshay', '1 year']

In [10]:
#Printing the range of values from the lists by only mentioning the starting or ending points

List[2:]

['Male', '25', 'Gamer']

In [13]:
#Creating a lists of list
#Info list contains 6 lists inside

Info = [["Name", "Akshay"],
       ["exp", "1 year"],
       ["Sex", "Male"],
       ["Age", "25"],
       ["extra-curricular", "Gamer"]]

In [14]:
Info[1]

['exp', '1 year']

In [15]:
Info[0]

['Name', 'Akshay']

In [17]:
#Updating the value from Akshay to Akshay Kumar

Info[0] = ["Name","Akshay Kumar"]
Info

[['Name', 'Akshay Kumar'],
 ['exp', '1 year'],
 ['Sex', 'Male'],
 ['Age', '25'],
 ['extra-curricular', 'Gamer']]

In [18]:
#accessing list of lists
#To print "Akshay Kumar"

Info[0][1]

'Akshay Kumar'

In [19]:
#Copying the List

Info1 = Info

In [21]:
#Updating Info1

Info1[4] = ["Character", "Good"]
Info1

[['Name', 'Akshay Kumar'],
 ['exp', '1 year'],
 ['Sex', 'Male'],
 ['Age', '25'],
 ['Character', 'Good']]

In [22]:
Info

[['Name', 'Akshay Kumar'],
 ['exp', '1 year'],
 ['Sex', 'Male'],
 ['Age', '25'],
 ['Character', 'Good']]

In [23]:
#We change only the Info1 list, but the changes are also affected in Info list. Here, the address got copied from Info to Info1.
#The correct way is as follows

Info = [['Name', 'Akshay Kumar'],
 ['exp', '1 year'],
 ['Sex', 'Male'],
 ['Age', '25'],
 ['extra-curricular', 'Gamer']]
print(Info)
Info1 = list(Info)
print(Info1)

[['Name', 'Akshay Kumar'], ['exp', '1 year'], ['Sex', 'Male'], ['Age', '25'], ['extra-curricular', 'Gamer']]
[['Name', 'Akshay Kumar'], ['exp', '1 year'], ['Sex', 'Male'], ['Age', '25'], ['extra-curricular', 'Gamer']]

In [24]:
Info1[4] = ["Character", "Good "]
print(Info)

print(Info1)

[['Name', 'Akshay Kumar'], ['exp', '1 year'], ['Sex', 'Male'], ['Age', '25'], ['extra-curricular', 'Gamer']]
[['Name', 'Akshay Kumar'], ['exp', '1 year'], ['Sex', 'Male'], ['Age', '25'], ['Character', 'Good ']]

In [26]:
#adding an element to a lists

Info + ["Mother's Name","Jyoti"]

[['Name', 'Akshay Kumar'],
 ['exp', '1 year'],
 ['Sex', 'Male'],
 ['Age', '25'],
 ['extra-curricular', 'Gamer'],
 "Mother's Name",
 'Jyoti']

In [27]:
#deleting an element from the lists

del(Info[4])
Info

[['Name', 'Akshay Kumar'], ['exp', '1 year'], ['Sex', 'Male'], ['Age', '25']]

In [29]:
#join 2 lists

a = ["Aaran","24","male"]
b = ["Abinay","21","male"]

In [30]:
c = a + b

print(c)

['Aaran', '24', 'male', 'Abinay', '21', 'male']

In [31]:
#joining 2 lists using extend method

a.extend(b)
print(a)

['Aaran', '24', 'male', 'Abinay', '21', 'male']

In [32]:
#clearing a list using clear command

b.clear()
print(b)

[]