Loops and Conditional statements in Python
The following are the conditional statements in Python
They are as follows

1. IF
2. IF ELSE
3. ELIF
4. NESTED IF
5. SWTICH CASE STATEMENT

In [1]:
#Computing all the multiples of 3 and 5 that are less than 100

#using range function, able to generate a series of consecutive numbers

#range(first number inclusive, last number exclusive)

list1 = list(range(1, 100))
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [2]:
list2 = list(range(1, 8))
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
total2 = 0
for i in list1:
    if i % 3 == 0 and i % 5 == 0:
     total2 = total2 + i
print(total2)

315

In [4]:
fam_heights = [1.73, 1.68, 1.71, 1.89]

for height in fam_heights:
    print(height)

1.73
1.68
1.71
1.89

In [5]:
for index, height in enumerate(fam_heights):
     print("index" + str(index) + ":" + str(height))

index0:1.73
index1:1.68
index2:1.71
index3:1.89

In [6]:
#range function with step function

print(list(range(0,100,5)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [7]:
#print the first 10 numbers using while loop

i=0
while i < 10:
   i = i + 1
   print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
List1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in List1:
    print(i)

12
15
32
42
55
75
122
132
150
180
200

In [9]:
num = int(input("Enter the number"))
list2 = list(range(1, 11))
for i in list2:
    print(num * i)

Enter the number6
6
12
18
24
30
36
42
48
54
60

In [10]:
g = ["book", "pen", "bag"]
for index, element in enumerate(g):
    print("index" + str(index) + ":" + str(element))

index0:book
index1:pen
index2:bag

In [11]:
n = int(input("Enter the number"))
list3 = list(range(n))
total = 0
for i in list3:
    total = total + i
print(total)

Enter the number 5
10

In [12]:
list4 = list(range(3, 5))
for i in list4:
    print(i)

3
4

In [13]:
list5 = list(range(3, 19, 2))
for j in list5:
    print(j)

3
5
7
9
11
13
15
17

In [14]:
str = "Python"
for i in str:
    print(i, end='')

Python

In [15]:
a = 0
while (a<3):
   print("hi")
   a = a+1

hi
hi
hi

In [16]:
b = "abcd"
for i in b:
    print(i.upper())

A
B
C
D

In [17]:
x = 0
while(x<100):
   x +=2
print(x)

100

In [18]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
  for y in items:
    print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [19]:
z=6
if z % 2 ==0:
    print("Z is divisible by 2")
elif z % 3 ==0:
    print("z is divisible by 3")
else:
    print("Divisible by neither")

Z is divisible by 2

In [20]:
l = int(input("Enter the value of length"))
b = int(input("Enter the value of breadth"))
if l == b:
    print("It is a square")
else:
    print("It is a rectangle")

Enter the value of length 5
Enter the value of breadth6
It is a rectangle

In [25]:
age = int(input("Enter your age pls"))
if age < 18:
    print("You are not eligible to vote")
else:
    print("You are eligible to vote")

Enter your age pls 20
You are eligible to vote

In [26]:
dictionary = {0:10, 1:20}

In [27]:
dictionary[2]=30

In [28]:
dictionary

{0: 10, 1: 20, 2: 30}

In [29]:
keys = ["Ten", "Twenty", "Thirty"]
values = [10, 20, 30]
d = dict(zip(keys,values))

In [30]:
d

{'Ten': 10, 'Thirty': 30, 'Twenty': 20}

In [31]:
sampleDict = {
    "class":{
        "student":{
            "name":"Mike",
            "Marks":{
                "Physics":70,
                "History":80
            }
                
            }
        }
    }

In [32]:
print(sampleDict["class"]["student"]["Marks"]["History"])

80

In [33]:
a,b = 12,5
if a + b:
    print("True")
else:
    print("False")

True

In [34]:
if(0<0):
    x=5
    print(x)

In [35]:
v = 10
for i  in range(10):
    for j in range(2,10,1):
        if(v%2==0):
            continue
            v +=1
    v +=1
else:
    v +=1
print(v)

21

In [36]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']